<!-- NEW NEXT-PREV TEMPLATE START -->

<div class="browse_tool_table">
	<div style="margin: 0; padding: 0;">
		{nextprev_num_of_rows_is_1_block}
			<span>{lang_there_is_currently}&nbsp;{nextprev_num_rows}&nbsp; {nextprev_page_type}.</span> 
		{/nextprev_num_of_rows_is_1_block}
		
		{!nextprev_num_of_rows_is_1_block}
			<span class="browse_tool_num">&nbsp;&nbsp;{nextprev_num_rows}&nbsp;{nextprev_meet_your_search}</span>
		{/!nextprev_num_of_rows_is_1_block}
		
		<span class="browse_tool_num">{lang_viewing}&nbsp;{nextprev_listing_num_min} - {nextprev_listing_num_max}&nbsp;&nbsp;</span>

		<span class="browse_tool_button">
			{nextprev_show_save_search_block}
				<a href="index.php?action=save_search{nextprev_guidestring_no_action}">{lang_save_this_search}</a>
			{/nextprev_show_save_search_block}
      	</span>

		<span class="browse_tool_button">
			{nextprev_show_refine_search_block}
				<a href="index.php?action=search_step_2{nextprev_guidestring_no_action}">{lang_refine_search}</a>
			{/nextprev_show_refine_search_block}
		</span>
	</div>

	<div class="jump_to_page clear">
		<span class="browse_tool_text">{lang_jump_to_page}&nbsp;&nbsp;</span>
		{nextprev_is_firstpage_block}
			<span class="bt_pages_ghost">&nbsp;&nbsp;&lt;&lt;&nbsp;&nbsp;</span>
		{/nextprev_is_firstpage_block}
		
		{!nextprev_is_firstpage_block}
			<span class="bt_pages">
				<a href="index.php?cur_page={nextprev_prevpage}{nextprev_guidestring}" class="bt_pages left">&lt;&lt;&nbsp;&nbsp;</a>
			</span>
		{/!nextprev_is_firstpage_block}
		 
		<!-- begin 10 page menu selection -->
		{nextprev_page_section} 
			{nextprev_page_current_block}
				<span class="browse_tool_curpage">{nextprev_disp_count}</span>
			{/nextprev_page_current_block}
		
			{nextprev_page_other_block}
				<span class="bt_pages">
					<a href="index.php?cur_page={nextprev_count}{nextprev_guidestring}" class="bt_pages">{nextprev_disp_count}</a>
				</span>
			{/nextprev_page_other_block}
		{/nextprev_page_section} 
		
		{nextprev_lastpage_block}
			<span class="bt_pages_ghost">&nbsp;&gt;&gt;&nbsp;&nbsp;</span>
		{/nextprev_lastpage_block}
		
		{!nextprev_lastpage_block}
			<span class="bt_pages">
				<a href="index.php?cur_page={nextprev_nextpage}{nextprev_guidestring}" class="bt_pages">&nbsp;&gt;&gt;&nbsp;&nbsp;</a>
			</span>
		{/!nextprev_lastpage_block}
		 
		<!--  Search Buttons -->
       		
		{nextprev_next_100_button_block}
			<span class="browse_tool_button">
				<a href="index.php?cur_page={nextprev_next10page}{nextprev_guidestring}">{lang_next_100}</a>
			</span>
		{/nextprev_next_100_button_block}
		
		{!nextprev_next_100_button_block}
			<span class="browse_tool_ghost">{lang_next_100}</span>
		{/!nextprev_next_100_button_block}
		
		{nextprev_prev_100_button_block}
			<span class="browse_tool_button">
				<a href="index.php?cur_page={nextprev_prev10page}{nextprev_guidestring}">{lang_previous_100}</a>
			</span>
		{/nextprev_prev_100_button_block}
		
		{!nextprev_prev_100_button_block}
			<span class="browse_tool_ghost">{lang_previous_100}</span>
		{/!nextprev_prev_100_button_block}
		{nextprev_clearlog_block}
			<span style="text-align:center;">
				<a href="index.php?action=clear_log" onclick="return confirmDelete()">
					<img src="images/no_lang/clear_log.gif" style="border:none;" alt="" />
					<br />
					{lang_clear_log}
				</a>
			</span>
		{/nextprev_clearlog_block}
	</div>
	<div class="clear"></div>
</div>
<!-- NEW NEXT-PREV TEMPLATE END -->