<H3>{lang_saved_searches}</H3>

<!-- This tag displays the 'no_saved_searches' lang var if there are no saved searches -->
<div>{saved_search_error}</div>

<table id="ss_table" class="display compact"  style="width: 100%;">
	<thead>
	<tr>
		<th>Search Description</th>
		<th>Created on:</th>
		<th>Delete</th>
	</tr>
	</thead>
	
	<!-- Block tag, contents will be iterated once for each saved search-->
	{saved_search_dataset}
	<tr>
		<td>{saved_search_link}</td>
		<td>{saved_search_last_viewed}</td>
		<td>{saved_search_delete}</td>
	</tr>
	{/saved_search_dataset}

</table>

<!-- This stuff below is unnecessary, but makes it work fancy -->
<link rel="stylesheet" 
  href="{baseurl}/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
/>
<script type="text/javascript" src="{baseurl}/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"
></script>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#ss_table').DataTable();
	});
</script>