{next_prev}
<!-- bof "view_users_default.html" -->
<div class="view_users">
	{user_block}
	<div class="view_users_thumbs">
		{agent_image_thumb_1_block}<p><a href="{agent_link}" title="">{agent_image_thumb_1}</a></p>{/agent_image_thumb_1_block}
	</div>
	<div class="view_users_fields">
		<h3><a href="{agent_link}" title="">{agent_first_name} {agent_last_name}</a></h3>
		<p>{agent_contact_link}</p>
		<p>{agent_display_info}</p>
		<p><img src="{agent_qr_code_link}" /></p>
	</div>
	<div class="clear"><hr /></div>
	{/user_block}
</div>
<!-- eof "view_users_default.html" -->
