<!-- bof "listing_detail_default.html" -->
	{hide_printer_friendly}
		<!-- listing_next_prev.html will be loaded if "Show NextPrev Bar On Listing Page" is set in Site Config.  -->
		{next_prev}
	{/hide_printer_friendly}

			<div id="listing_detail_title_div">
				<div id="listing_detail_title">
					{listing_title}
				</div>
				<div id="listing_detail_rt_title">
					Price: {listing_field_price_value}
				</div>
				<div class="clear"></div>
			</div>
			
			<div>		
				<div style="float: left;">	
					{hide_printer_friendly}
					<!-- root element for scrollable -->
					<div class="slideshow">
						<!-- root element for the items -->
						<ul id="lightSlider">
						  {slideshow_thumbnail_group_block}{slideshow_thumbnail_block}
						  <li data-thumb="{slideshow_thumbnail}">
							<img src="{slideshow_mainimage}" />
						  </li>
						  {/slideshow_thumbnail_block} {/slideshow_thumbnail_group_block}
						</ul>
					  </div>
					  <!-- end slideshow output  -->
				
					<div class="vtour_button">{vtour_button}</div>
 				</div>
 			
 				<div style="float: left;">
 				
 					<div class="agent_info">
							<h3 >{company_name}</h3>
							{show_listed_by_admin_block}
								<h3>{lang_listed_by}: <a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a></h3>
							{/show_listed_by_admin_block}
							{listing_agent_field_phone_block}<p>{listing_agent_field_phone}</p>{/listing_agent_field_phone_block}
							{listing_agent_field_mobile_block}<p>{listing_agent_field_mobile}</p>{/listing_agent_field_mobile_block}
							{listing_agent_field_fax_block}<p>{listing_agent_field_fax}</p>{/listing_agent_field_fax_block}
							{listing_agent_field_homepage_block}<p>{listing_agent_field_homepage}</p>{/listing_agent_field_homepage_block}
							{listing_agent_field_info_block}<p>{listing_agent_field_info}</p>{/listing_agent_field_info_block}
						</div>
 				
	 				<!--  Agent, Neighborhood, Contact info -->
 					<div class="listing_info">
 						{hide_printer_friendly}
							{contact_agent_link}
							{check_member}
								{link_add_favorites}
							{/check_member}
							{link_calc}
							{link_email_friend}
							{link_printer_friendly}
					
							{link_yahoo_neighborhood}
							{link_yahoo_school}
							{link_map}
							
							<div id="listing_file">
								Available Files:
								{listing_files_select}
							</div>
							
						{/hide_printer_friendly}	
						
					</div>

 				</div>
 				
 				<div class="clear"></div>
 			
 			</div>
 			<div class="space_10"></div>
 			
 			<div id="disp_locations">
 			
 				<div class="center_area">
					<div class="center_area_text">
						{headline}
					</div>
				</div>
				
				<div class="float_left_half top_pair">
					<div class="float_left_half_text">
						{top_left}
					</div>
				</div>
				<div class="float_right_half top_pair">
					<div class="float_right_half_text">
						{top_right}
					</div>	
				</div>
				<div class="clear"></div>

<div>				
				<div class="center_area">
					<div class="center_area_text">
						{center}
					</div>
				</div>
				
				<div class="float_left_half featured_pair ">
					<div class="features_ticked">
						{feature1}
					</div>
				</div>
				<div class="float_right_half featured_pair">
					<div class="features_ticked">
						{feature2}
					</div>
				</div>
				<div class="clear"></div>
				
				<div class="float_left_half bottom_pair">
					<div class="float_left_half_text">
						{bottom_left}
					</div>
				</div>
				<div class="float_right_half bottom_pair">
					<div class="float_right_half_text">
						{bottom_right}
					</div>	
				</div>
				<div class="clear"></div>
</div>								


				<div class="hitcount">{lang_this_listing_has_been_viewed} <strong>{hitcount}</strong> {lang_times}.</div>
			</div>

<!-- jQuery to set specific paired div heights uniformly -->			
<script type="text/javascript">	
$(document).ready(function() { 


	$("#lightSlider").lightSlider({
	gallery: true,
	item: 1,
	loop: true,
	slideMargin: 0,
	thumbItem: 9,
	});


	//equalheights stuff
	$(".top_pair").equalHeights(); 
	$(".featured_pair").equalHeights(); 
	$(".bottom_pair").equalHeights();
}); 
</script>
<!-- eof "listing_detail_default.html" -->