<div id="search_page_default">
	{no_search_results_block}
		<div class="no_results">
			<p>{lang_no_results_msg}</p>
			<p><a href="{save_search_link}">{lang_no_results_save_search_link_text}</a> {lang_no_results_save_search}</p>
		</div>
		<div class="clear"></div>
	{/no_search_results_block}

	<script type="text/javascript">
		$(document).ready(function() {
			var classnum = Number({getvar_pclass});
			if (classnum == 0 || classnum == '')
			{
				classid = 0;
			}
			else classid = (classnum - 1);

			$(".pclass_tab_names").uitabs({ 
				selected: classid 
			});

			$("input:checkbox, input:radio").uniform();
		});	
	</script>
	
	<div id="search_title">{lang_search_listings}</div>

	<div id="search_form_div">

		<div class="pclass_tab_names">
			<!--  generate the unordered list with links that becomes our tabs -->		
			<ul>
				{foreach_pclass_block}
					<li><a href="#pane_{pclass_id}">{pclass_name}</a></li>
				{/foreach_pclass_block}
			</ul>
			
  	 		<!--  Search panes div  -->
  		
  				{foreach_pclass_block}
  	 			<div id="pane_{pclass_id}">
	  	 			<div class="templated_search_form">
						<div class="templated_search_form_data">
							{templated_search_form_{pclass_id}}
						</div>
					</div>
  	 	 		</div>
  	 	 		{/foreach_pclass_block}
  	 	 </div>
  		 	
  		<div class="space_10 clear"></div>	
	</div>
	
	
	<div style="width: 660px; margin-left: auto;  margin-right: auto; ">

			{featured_listings_horizontal}

	</div>
	
		
</div>

<!--  Hide the search form block -->
<div style="display:none;">

	{templated_search_form_block}
	
	<p>{browse_all_listings_pclass}</p>
	<form id="search_page_form" name="search_page_form" action="index.php" method="get">
		
		{search_fields}
		
		<div class="searchpage_field_wrapper">		
			<label class="searchpage_field_caption">{lang_text_search}</label>{full_text_search}
		</div>
		<div class="searchpage_field_wrapper">		
			<label class="searchpage_field_caption">Find Listings Added within the last X days</label><input type="text" class="digit_input" size="5" name="listingsdb_creation_date_greater_days">
		</div>
		<div class="searchpage_field_wrapper">		
			<label class="searchpage_field_caption">{lang_show_only_with_images}</label>{show_only_with_images}
		</div>
		<div class="searchpage_field_wrapper">		
			<label class="searchpage_field_caption">{lang_show_only_with_vtours}</label>{show_only_with_vtours}
		</div>	
		<input type="hidden" name="action" value="searchresults" />
		{search_type}
		<div style="margin: 5px 5px 5px 140px;"><input class="or_std_button" type="button" value="{lang_search_button}" onclick="submit();" /></div>
	</form>
	<div class="clear"></div>	
	{/templated_search_form_block}

</div>