* {font-family:  'Arimo', Arial, Helvetica, sans-serif;}

body {
	background:#fbfdf6;
	font-size: .9em;
	color:#222;
	margin:10px 20px auto 25px;
	text-align:center;
	line-height:1.2em;
}

a:link, a:visited, a:hover {
	font-weight: normal;
	color: #2B60DE;
	text-decoration: none;
}

a img {border:none;}

header, #menu_nav, article, footer {
	padding:5px 10px;
	margin:5px;
	border-top:1px solid #dfdfdf;
	background: #f4f1ec; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f1ec 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f1ec), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f1ec 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f1ec 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f1ec 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f1ec 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f1ec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

header {
	display:block;
	position:relative;

}

header img {
	position:absolute;
	left:20px;
	top:18px;
}

header h1 {
	font-size:2.2em;
	text-transform:none;
	letter-spacing:0em;
	text-align:center;
}

header h2 {

	font-size:1.2em;
	text-align:center;
}

#main_wrapper {
	max-width:1280px; /* sets max layout width */
	min-width:972px; /* sets min layout width */
	margin-left:auto;  /* centers layout in browser */
	margin-right:auto; /* centers layout in browser */
	text-align:left;
}
#menu_nav_inner {
	padding: 0;
}

#article_inner {
	display: inline-block;
	width: 100%;
}

/*** TOP Navigation Menu ***/

/* NAV container */
#top_nav {
	width: 100%;
	text-align: center;
}

/* Main <ul> container for superfish menu. */
#or_menu_2 {
	width: 770px;;
	margin-left: auto;
  	margin-right: auto;
}

#or_menu_2 > li {
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	border-top: 1px solid #ddd;
}

#or_menu_2 > li > a {
	font-weight: bold;
	font-size:1.1em !important;

}

/* trick to place rounded corners on 1st and last <li> and not children */
#or_menu_2 > li:nth-child(1) {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#or_menu_2 > li:last-child {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*** ESSENTIAL STYLES ***/
#top_nav .or_menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

#top_nav .or_menu li {
	position: relative;
}

#top_nav .or_menu ul {
	position: absolute;
	display: none;
	top: 100%;
	z-index: 99;
}

#top_nav .or_menu > li {
	float: left;
}

#top_nav .or_menu li:hover > ul,
#top_nav .or_menu li.sfHover > ul {
	display: block;
}

#top_nav .or_menu a {
	display: block;
	position: relative;
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .3em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
	color: #3333FF;
	font-size: 1em;
	line-height: 1.1em;
	text-shadow: 1px 1px 1px #eee;
}
#top_nav .or_menu ul ul {
	top: 0;
	left: 100%;
}

#top_nav .or_menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}


/* top level menu background */
#top_nav .or_menu li {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #bababa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#bababa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

/* first child menu background */
#top_nav .or_menu ul li {
	text-align: left;
	background: #f4f1ec; /* Old browsers */
}

/* second child menu background */
#top_nav .or_menu ul ul li {
	background: #E0DDD9;
}

/* menu item hover color */
#top_nav .or_menu li:hover,
#top_nav .or_menu li.sfHover {
	background: #f2f1ca;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
#top_nav .sf-shadow .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
#top_nav .sf-shadow .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #fff; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(75, 75, 175,.5);
}
/*active*/
#top_nav .sf-shadow > li > .sf-with-ul:focus:after,
#top_nav .sf-shadow > li:hover > .sf-with-ul:after,
#top_nav .sf-shadow > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
#top_nav .sf-shadow ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(75, 75, 175,.5);
}
/*active*/
#top_nav .sf-shadow ul li > .sf-with-ul:focus:after,
#top_nav .sf-shadow ul li:hover > .sf-with-ul:after,
#top_nav .sf-shadow ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

/* hide built-in superfish submenu indicator >> */
ul#or_menu_2 .sf-sub-indicator {
	display: none;
}



/*** Left  Navigation ***/
#menu_nav {
	float:left;
	width:178px;
	text-align:left;
}

/* menu divider ribbons */
#menu_nav h1, #menu_nav .or_menu_item_type_divider {
	position: relative;
	background: #9da1a5; /* Old browsers */
	background: -moz-linear-gradient(top,  #9da1a5 0%, #f4f7ff 49%, #717775 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9da1a5), color-stop(49%,#f4f7ff), color-stop(100%,#717775)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9da1a5 0%,#f4f7ff 49%,#717775 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9da1a5 0%,#f4f7ff 49%,#717775 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9da1a5 0%,#f4f7ff 49%,#717775 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9da1a5 0%,#f4f7ff 49%,#717775 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da1a5', endColorstr='#717775',GradientType=0 ); /* IE6-9 */
	color:#666;
	padding:3px 0px 3px 27px;
	margin:13px 0px 13px -27px;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#666666, offx=1, offy=1);
	font-size:1.2em;
	font-weight: bold;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}
#menu_nav h1:after, #menu_nav .or_menu_item_type_divider:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 4px 8px;
	border-style: solid;
	border-color: #717775 #717775 transparent transparent;
}


#menu_nav ul {
	padding:0px;
	list-style:none;
}

#menu_nav li {
	margin:0px;
	padding:0px;
	list-style:none;
}

#menu_nav li a:hover {
	background:#f2f1ca;
	outline: 0;
}

#menu_nav li li {
	background: #f4f1ec;
	border-bottom: none;
}
#menu_nav li li li {
	background:	#f4f1ec;
}

#menu_nav a {
	display: block;
	color: #2B60DE;
	padding:3px 1%;
	border-bottom:1px solid #e7e2d7;
	font-size: 1em;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #bbbbbb;
}


/*CSS for OR Pro Vertical Menu*/
/*** SUPERFISH MENU STYLES (probably should not change)***/
#or_menu_1, #or_menu_1 * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#or_menu_1 {
	line-height:	1.0;
}
#or_menu_1 ul {
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
#or_menu_1 ul li {
	width:			100%;
}
#or_menu_1 li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#or_menu_1 li {
	position:		relative;
}
#or_menu_1 a {
	display:		block;
	position:		relative;
}
#or_menu_1 li:hover ul,
#or_menu_1 li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul#or_menu_1 li:hover li ul,
ul#or_menu_1 li.sfHover li ul {
	top:			-999em;
}
ul#or_menu_1 li li:hover ul,
ul#or_menu_1 li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}
ul#or_menu_1 li li:hover li ul,
ul#or_menu_1 li li.sfHover li ul {
	top:			-999em;
}
ul#or_menu_1 li li li:hover ul,
ul#or_menu_1 li li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}

/*** Child menu style ***/
#or_menu_1 li.sfHover {
	background: #f2f1ca;
	outline:		0;
}

#or_menu_1 > .or_menu_parent > ul > li > a {
	border-bottom:0 none;
	padding-left: 8px;
}

/*** arrows **/
#or_menu_1 a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
ul#or_menu_1 .sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	padding-bottom: 4px;
	background:		url('{template_url}/images/arrows-ffffff.png') no-repeat;
	background-position: -10px 0px;
}
ul#or_menu_1 a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: 6px;
}

/* apply hovers to modern browsers */
ul#or_menu_1 a:focus > .sf-sub-indicator,
ul#or_menu_1 a:hover > .sf-sub-indicator,
ul#or_menu_1 a:active > .sf-sub-indicator,
ul#or_menu_1 li:hover > a > .sf-sub-indicator,
ul#or_menu_1 li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
#or_menu_1 .sf-shadow ul {
	-webkit-box-shadow: 1px 1px 4px 1px #999;
	box-shadow: 1px 1px 4px 1px #999;
	padding: 0 8px 9px 0;
}
#or_menu_1 .sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
#or_menu_1 li:hover ul,
#or_menu_1 li.sfHover ul {
	left:	12em; /* match ul width */
	top:	0;
}


/*** MAIN PAGE CONTENT  ***/
article {
	text-align:left;
	margin-left: 218px;
}

article h1 {
	background-color:#559299;
	color:#fff;
	padding:7px 12px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #403232;
}


/*** FOOTER ***/
footer {
	display:block;
	clear:both !important;
	/*width:930px;*/
	font-size: .9em;
	text-align: center;
}

footer a {
	margin:0px 5px;
	font-size: 1em;
}




/* STATS */
#listingstats {
	width: 450px;
	margin: 0px auto;
}
.stat_caption {
	font-weight: 700;
	padding: 10px 5px 10px 0px;
}


/* NEXT PREV WIDGET */
.browse_tool_table {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	-moz-border-radius: 0; /* override OR default CSS*/
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-color: transparent;
	border-style: solid;
	/*width: 100%;*/
	text-decoration: none;
	background: #f4f7ff;
	background: -moz-linear-gradient(top, #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7));
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: -o-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: -ms-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: linear-gradient(to bottom, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

.browse_tool_num {
	color:#333;
	font-size: 1em;
}

.browse_tool_button a, .browse_tool_button a:visited {
	font-size: 10pt;
	font-weight: 500;
	color: #2f4f4f;
	text-decoration: none;
	border: 1px solid #838b83;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 2px;
	padding: 3px 6px;
	cursor: pointer;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d7d7d7 62%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(62%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d7d7d7 62%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
}

.browse_tool_button a:hover {
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	border-color:#007FFF;
	box-shadow: none;
	color: #014D5F;

}

.jump_to_page {
	height: 24px;
	padding: 3px 5px;
	margin-bottom: 4px;
}

.browse_tool_text {
	font-size: .8em;
	margin-top:6px;
	font-weight: 600;
	color: #333;
}

a.bt_pages, a.bt_pages:visited, a.bt_pages:hover, .browse_tool_curpage {
	width: 22px;
	height: 22px;
	margin: 0px 2px;
	padding: 0px 4px;
	line-height: 22px;
	font-size: 1em;
	font-weight: 600;
	text-shadow: 1px 2px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=2);
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

a.bt_pages, a.bt_pages:visited {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d7d7d7 62%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(62%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#d7d7d7 62%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d7d7d7 62%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	color: #2B60DE !important;
}

a.bt_pages:hover {
	border-color: #888;
	border-color: #007FFF;
	color:#007FFF !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.browse_tool_curpage {
	border-color: #236B8E;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #e8e8e8 7%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(7%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.bt_pages_ghost {
	width: 24px;
	height: 24px;
	line-height: 24px;
	cursor: default;
}

/* arrow common */
.bt_left_arrow, .bt_right_arrow, .bt_left_arrow_ghost, .bt_right_arrow_ghost  {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

/* create an arrow that points left */
.bt_left_arrow, .bt_left_arrow_ghost {
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
}
.bt_left_arrow {
	border-right: 7px solid #2B60DE;
	margin: 5px 0px 0px 0px;
}
.bt_left_arrow_ghost {
	border-right: 7px solid #bbb;
	margin: 6px 0px 0px 10px;
}

/* create an arrow that points right */
.bt_right_arrow, .bt_right_arrow_ghost {
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
}
.bt_right_arrow {
	border-left: 7px solid #2B60DE;
	margin: 5px 0px 0px 1px;
}
.bt_right_arrow_ghost {
	border-left: 7px solid #bbb;
	margin: 6px 0px 0px 10px;
}



/* SEARCH RESULTS */

.result_row_0, .result_row_1 {
	background: #c4c3bd; /* Old browsers */
	background: -moz-linear-gradient(top, #c4c3bd 0%, #ecf2e3 43%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c3bd), color-stop(43%,#ecf2e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c3bd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 1px 2px rgba(236, 236, 236, 1);
	margin-bottom: 8px;
	border-top: 1px solid transparent;
}
.result_row_0{

}
.result_row_1{

}

.result_row_0:hover, .result_row_1:hover {
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	border-top: 1px solid #999;

}

.sr_image img {
	border: 1px solid #AAA;
	-webkit-box-shadow: 1px 1px 4px 1px #999999;
	box-shadow: 1px 1px 4px 1px #999999;
	width: 120px;
	height: 90px;
	padding: 0 0 0 0 !important;
	margin: 10px 10px auto;
	float: left;
}
.sr_listing_title {
	text-align: left;
	padding: 3px 6px;
	width: 100%;
}

#SearchResultsHeader {
	height: 28px;
	margin-bottom: 10px;
	background: -moz-linear-gradient(top, #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7));
background: -webkit-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
background: -o-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
background: -ms-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
background: linear-gradient(to bottom, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	padding: 10px 0px 0px 10px;
	position: relative;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

#SearchResultsHeader div {
	display: inline-block;
}

#SortTitles {
	display: inline;
}

#SearchResultsHeader #SortTitles li {
	float: left;
	list-style: none;
	margin-left: 4px;
	list-style-type: none;
}

#SearchResultsHeader a {
	font-size: .8em;
	font-weight: bold;
	color: #333;
	padding: 3px 5px;
	border: 1px solid #bababa;
	border-top: 1px solid #aaa;
	margin-left: 5px;
	border-radius: 6px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #bababa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bababa));
	background: -webkit-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#bababa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 );

	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
}


/* create an arrow that points up */
#SearchResultsHeader a .arrow-up {
	border-left: 6px solid transparent;  /* left arrow slant */
	border-right: 6px solid transparent; /* right arrow slant */
	border-bottom: 6px solid #333; /* bottom, add background color here */
}

/* create an arrow that points down */
#SearchResultsHeader a .arrow-down {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #333;
}

/* position the arrows */
#SearchResultsHeader a .arrow-up, #SearchResultsHeader a .arrow-down {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: 0px 0px 2px 2px;
	display: inline-block;
}

#SearchResultsHeader a:hover {
	box-shadow: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(68%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e2e2e2 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.sort_ASC {

}

.sort_DESC {

}

.search_result_header a{
	cursor: pointer;
	text-shadow: 1px 1px 1px #bbb;

}
.search_result_header a:hover{
	text-shadow: 1px 1px 1px #fff;
}

.sr_fields {
	float: left;
	margin: 5px 0px 5px 0px;
	width: 548px;
}

.sr_fields_row div{
	display: inline-block;
	margin: 5px 10px 0px 0px;
}

.sr_fields_row span {
	font-weight: 700;
}

.sr_textarea {
	margin: 5px 5px 5px 0px;
}

.sr_fields_right  {
	float: right;
	margin: 5px 10px 0px 0px;
}

/* BLOG */
.blog_article_title {
	color: #000;
	line-height: 1.1em;
	font-size: 1.4em;
	font-weight: 700;
	text-shadow: 1px 2px 1px #bbbbbb;
	filter: dropshadow(color=#bbbbbb, offx=1, offy=2);
	padding-bottom: 10px;
}

.blog_article_date {
	color: #777;
	font-size: .5em;
}

.blog_article_title a, .blog_article_title a:visited {
	text-decoration: none;
}

a.blog_article_comment_link, a.blog_article_comment_link:visited {
	color: #2B60DE;
	padding: 2px;
	font-size: .6em;
	text-decoration: none;
}

.blog_article_comment_link > img{
	text-decoration: none;
	padding-right: 4px;
	vertical-align: text-top;
}

/* FEATURED LISTINGS HORIZONTAL ***/
.featured_listings_horizontal .featured_listings_block a:link.title , #featured_listings_horizontal .featured_listings_block a:visited.title{
	font-size: 1.1em;
	text-decoration:none;
	background-color:transparent;
}
.featured_listings_horizontal .featured_listings_block a:hover.title{
	color: inherit;
	background-color:transparent;
}
.feat_scrollable {
	background: url('{template_url}/images/feat_listings_sprite.png') no-repeat -5px -32px;
    position:relative;
    overflow:hidden;
	height: 176px;
	width: 553px;
    float:left;
}
.feat_scrollable h4 {
	margin: 0;
	padding: 6px 0 2px 0;
	text-align: center;
	color: 	#000;
	font-weight: bold;
	text-transform: uppercase;
}

.ssprev, .ssnext {
	width: 40px;
	height: 152px;;
	cursor: pointer;
	display: block;
	margin-top:20px;
}

.p_horiz {
	background: url('{template_url}/images/feat_listings_sprite.png') no-repeat -5px -216px;;
	float: left;
}
.p_horiz:hover {
	background: url('{template_url}/images/feat_listings_sprite.png') no-repeat -96px -216px;;
}
.n_horiz {
	background: url('{template_url}/images/feat_listings_sprite.png')  no-repeat -50px -216px;;
	float: left;
}
.n_horiz:hover {
	background: url('{template_url}/images/feat_listings_sprite.png')  no-repeat -142px -216px;;
}

.items .feat_list {
	float: left;
	width: 120px;
	overflow: hidden;
	padding: 0 8px;
}
.feat_list img {
	width: 120px;
}

.visible {
	margin-left: 2px;
}
.items .visible .thumbimg {
	width: 120px;
}

.feat_text {
	font-size: .8em;
	font-weight: 600;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	width: 120px;
}

.feat_text .field_caption {
	float:none;
	font-size: inherit
}

/*** FEATURED/RECENT/POPULAR LISTINGS ***/
.horiz_feat, .my_horiz_feat {
	height: 170px;
	margin-left: 60px;;
}

.horiz_feat h4, .my_horiz_feat h4 {
	display: block;
	text-indent: 12px;
	color: #000;
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
	line-height: 25px;
	height: 20px;
	margin: 0;
	margin-bottom: 10px;
	background: url('{template_url}/images/feat_listings_sprite.png') no-repeat -5px -5px;
}
.feat_list {
	z-index: 0;
	float: left;
	width: 120px;
	height: 150px;
	overflow: hidden;
	padding: 2px 12px 0px 6px;
}
.feat_list img {
	border: 1px solid #ddd;
	width: 124px;
	height: 94px;
	-webkit-box-shadow: 1px 1px 1px 2px #ccc;
	-moz-box-shadow: 1px 1px 1px 2px #ccc;
	box-shadow: 2px 1px 1px 1px #ccc;
}

.recent_image {
	position:relative;
}
.recent_date {
	position:absolute;
	bottom: 5px;
	display: block;
	background: #b3bead; /* Old browsers */
	background: -moz-linear-gradient(top, #b3bead 0%, #9e9b91 14%, #fcfff4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3bead), color-stop(14%,#9e9b91), color-stop(100%,#fcfff4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b3bead 0%,#9e9b91 14%,#fcfff4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b3bead 0%,#9e9b91 14%,#fcfff4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b3bead 0%,#9e9b91 14%,#fcfff4 100%); /* IE10+ */
	background: linear-gradient(top, #b3bead 0%,#9e9b91 14%,#fcfff4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=0 ); /* IE6-9 */
	opacity:0.8;
	color: #000;
	font-size: .8em;
	text-shadow:0 1px 0 #ddd;
	padding: 2px 11px;
	white-space:nowrap;
}

/*** FEATURED LISTINGS VERTICAL ***/
.featured_listings_vertical .featured_listings_block a:link.title , #featured_listings_vertical .featured_listings_block a:visited.title{
	font-size: 1.1em;
	text-decoration:none;
	background-color:transparent;
}
.featured_listings_vertical .featured_listings_block a:hover.title{
	color: inherit;
	background-color:transparent;
}


/*** LISTING DETAIL ***/
#listing_detail_title_div {
	width: auto;
	padding: 6px;
	margin-bottom: 5px;
	background: #fafafa;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}
#listing_detail_title_div:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#listing_detail_title {
	float: left;
	font-size: 1.2em;
	font-weight: 600;
	color: #333;
	text-shadow: 1px 1px 1px #fff;
}

#listing_detail_rt_title {
	float: right;
	font-size: 1.2em;
	font-weight: 600;
	color: #333;
	text-shadow: 1px 1px 1px #fff;
}

#listing_detail_default_fieldslinks_inner {
	font-size: 1.4em;
}

#main_img {

}
#main_img  #image_wrap{
	width:460px;
	margin:0;
	padding:0;
	text-align:center;
	background-color: inherit;
	border: none;
	outline: none;
	margin-bottom: 2px;
}
#main_img #image_wrap img {
	width:100%;
	border: 1px solid #ddd;
	box-shadow: 1px 2px 3px rgba(1, 0, 0, 0.75);
}

.listing_info {
	font-size: .8em;
	margin-left: 5px;
	min-width: 254px;
	margin-bottom: 2px;

background: #fafafa;
		border: 1px solid #ddd;
}


.agent_info {
	margin: 6px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.25);
}

.agent_info .comp_name {

}
.agent_info .field_caption {
	float: none;
	text-align: left;
	padding-right: 0px;
	padding-top: 0px;
	width: 42%;
	margin-left: 6px;
	font-size: 1em;
	font-weight: 800;
}

.agent_info h3 {
	margin: 4px 0 2px 4px;
	padding: 0px 0px 0px 8px;
}

.agent_info p,.listing_info a  {
	padding: 4px 2px 4px 6px;
	margin: 0px;
}

.listing_info a {
	display: block;
	font-size: 1.1em;
}
.listing_info a:hover {
	background:#f2f1ca;
}

#disp_locations {

}



#disp_locations .float_left_half, #disp_locations .float_right_half, #disp_locations .center_area {
	min-height: 20px;
	background: #fafafa;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#disp_locations .float_left_half, #disp_locations .float_right_half {
	width: 49%;
}
#disp_locations .float_left_half_text, #disp_locations .float_right_half_text, #disp_locations .center_area_text {
	padding: 4px;
	margin: 4px;
}


div.features_ticked {
	float: none;
	clear: both;
	margin-top: 0px;
	padding-left: 0px;
	padding: 6px;
}

div.features_ticked strong {
	background-color: transparent;
	line-height: 1.1em;
	padding-top: 0px;
	margin-left: 0;
}

div.features_ticked ul {
	margin:0;
    padding-left:30px;
}
div.features_ticked ul li {
	 margin: 0px;
    padding: 0px;
    text-indent: 0.25em;
    margin-left: -0.25em;
}

.multiple_options_caption, .multiple_options {
	margin-top: 4px;
}
.multiple_options_caption {
	margin-right: 5px;
	padding: 0;
	font-weight: bold;
	float: none;
}
.multiple_options {
	float: none;
}

#listing_file {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
	margin-top: 5px;
}

#listing_file select {
	font-size: 1.1em;
	line-height: 1.1em;
	border: 1px solid #bbb;
	padding: 1px;
	background-color: #f6f6f6;
	margin-right: 0px;
}

#listing_file input[type="button"] {
display: block;
font-size: 10pt;
color: #4f4f4f;
text-decoration: none;
border-width: 1px;
border-style: solid;
border-color: #ccc;
-moz-border-radius: 6px;
-khtml-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
margin-top: 4px;
padding: 3px 6px;
cursor: pointer;
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…w9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
}

#listing_file input[type="button"]:hover {
cursor: pointer;
color: #444;
border-color: #666;
opacity: .8;
}


.hitcount {
	padding: 4px;
	background: #c0cec7; /* Old browsers */
	background: -moz-linear-gradient(top,  #c0cec7 0%, #d2d8e0 60%, #f4f7ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0cec7), color-stop(60%,#d2d8e0), color-stop(100%,#f4f7ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0cec7 0%,#d2d8e0 60%,#f4f7ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0cec7 0%,#d2d8e0 60%,#f4f7ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0cec7 0%,#d2d8e0 60%,#f4f7ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c0cec7 0%,#d2d8e0 60%,#f4f7ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0cec7', endColorstr='#f4f7ff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #aaa;
	text-shadow: 1px 2px 1px #aaaaaa;
	filter: dropshadow(color=#aaaaaa, offx=1, offy=2);
	text-align: right;
}


/* LISTING DETAIL - NEXT/PREV BAR (WHEN "Show NextPrev Bar On Listing Page" IS
   SET TO "yes" IN SITE CONFIG -> LISTINGS TAB - THIS IS NOT THE SAME FOR THE
   TAG {next_prev} AS SET ELSEWHERE
 ============================================================================ */
.next_prev_listing {
	float:none;
	width: auto  !important;
	padding: 6px;
	margin: 0;
	font-size: 9pt;
	background: #f4f7ff;
	background: -moz-linear-gradient(top, #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7));
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: -o-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: -ms-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	background: linear-gradient(to bottom, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}
.next_prev_listing img{
	width:auto !important;
	vertical-align: middle;
	margin-bottom: 2px;
}
.next_prev_listing .count{
	float:none;
	display: inline-block;
	width: 45%;
	margin:0;
	padding:0;
	text-align:left;
}
.next_prev_listing ul{
	clear:none;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	height: 30px !important;
	margin-top: 4px;

}
.next_prev_listing li{
	display:inline;
}
.next_prev_listing .listing_xy{
	float: none;
	width:100%;
	text-align:right;
	color:#666;
	margin-left: 40%;
}

/* PIV pure CSS first/prev/next/last page shuffle buttons */
.next_prev_listing .first, .next_prev_listing .previous, .next_prev_listing .next, .next_prev_listing .last {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: 2px;
	margin-top: 0px;
	display: inline-block;
	background: #ffffff; /* Old browsers */
	background: #ffffff; /* Old browsers */
	background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #bababa 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bababa));
background: -webkit-linear-gradient(top, #ffffff 0%,#bababa 100%);
background: -o-linear-gradient(top, #ffffff 0%,#bababa 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#bababa 100%);
background: linear-gradient(to bottom, #ffffff 0%,#bababa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 );
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	vertical-align: middle;
}

.next_prev_listing .first:hover, .next_prev_listing .previous:hover, .next_prev_listing .next:hover, .next_prev_listing .last:hover {
	box-shadow: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(68%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e2e2e2 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.first_n, .previous_n, .next_n, .last_n  {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: 2px;
	display: inline-block;
	background: #dbdbdb; /* Old browsers */
	box-shadow: none;
	vertical-align: middle;
	cursor: default;
}

.first_blk, .last_blk{
	float: left;
	height: 12px;
	width: 3px;
	background-color: #666;
	margin: 6px 0px 5px 5px;
}

.first_blk_arrow {
	float: left;
	margin: 6px 0px 5px 0px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;  /* left arrow slant */
	border-top: 6px solid transparent; /* right arrow slant */
	border-right: 8px solid #666; /* add background color */
	font-size: 0;
	line-height: 0;
}

.previous_blk_arrow {
	margin: 5px 0px 0px 6px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
	border-right: 9px solid #666; /* add background color */
	font-size: 0;
	line-height: 0;
}

.last_blk {
	margin: 6px 5px 5px 0px;
}
.last_blk_arrow {
	float: left;
	margin: 6px 0px 5px 6px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;  /* left arrow slant */
	border-top: 6px solid transparent; /* right arrow slant */
	border-left: 8px solid #666; /* add background color */
	font-size: 0;
	line-height: 0;
}

.next_blk_arrow {
	margin: 5px 0px 0px 8px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
	border-left: 9px solid #666; /* add background color */
	font-size: 0;
	line-height: 0;
}

.first_n_blk, .last_n_blk {
	float: left;
	height: 12px;
	width: 3px;
	background-color: #cbcbcb;
	margin: 5px 0px 6px 5px;
}
.first_n_blk_arrow {
	float: left;
	margin: 5px 0px 5px 0px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;  /* left arrow slant */
	border-top: 6px solid transparent; /* right arrow slant */
	border-right: 8px solid #cbcbcb; /* add background color */
	font-size: 0;
	line-height: 0;
}

.previous_n_blk_arrow {
	margin: 4px 0px 0px 5px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
	border-right: 9px solid #cbcbcb; /* add background color */
	font-size: 0;
	line-height: 0;
}

.last_n_blk {
	margin: 6px 5px 5px 0px;
}
.last_n_blk_arrow {
	float: left;
	margin: 6px 0px 5px 5px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;  /* left arrow slant */
	border-top: 6px solid transparent; /* right arrow slant */
	border-left: 8px solid #cbcbcb; /* add background color */
	font-size: 0;
	line-height: 0;
}

.next_n_blk_arrow {
	margin: 5px 0px 0px 7px;
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent;  /* left arrow slant */
	border-top: 7px solid transparent; /* right arrow slant */
	border-left: 9px solid #cbcbcb; /* add background color */
	font-size: 0;
	line-height: 0;
}

.listing_np_button {
	color: #2f4f4f;
	border: none;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 10pt;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #bababa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bababa));
	background: -webkit-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#bababa 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#bababa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 );
	border-width: 1px;
	border-style: solid;
	border-color: #bababa;
	margin: 0px 2px;
	padding: 3px 6px;
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
	vertical-align: middle;
}

.listing_np_button:hover {
	cursor:pointer;
	box-shadow: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(68%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 68%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e2e2e2 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

/* MINI TABS */
#mini-tabs {
	padding: .2em;
}

#mini-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0em 0em 0em;
}

#mini-tabs .ui-tabs-nav li {
	top: 4px;
	margin: 0 .2em 0px 0;
	padding: 0;
	list-style: none;
}
#mini-tabs .ui-tabs-nav li:hover {

}

#mini-tabs .ui-tabs-nav li a {
	padding: .2em .8em;
	font-size:.8em;

}

#mini-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 0px;
}

#mini-tabs .ui-tabs-nav li.ui-tabs-selected a,#mini-tabs .ui-tabs-nav li.ui-state-disabled a,#mini-tabs .ui-tabs-nav li.ui-state-processing a {

}

#mini-tabs .ui-tabs-nav li a,#mini-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {

}

#mini-tabs .ui-tabs-panel {
	padding: 1em 1.4em;
}

#mini-tabs .ui-tabs-hide {
	display: none !important;
}



/*** SEARCH PAGE ***/
#search_page_default {
	font-size: .9em;
}

#search_title {
	font-size: 1.4em;
	font-weight: 700;
	text-shadow: 1px 2px 1px #bbbbbb;
	filter: dropshadow(color=#bbbbbb, offx=1, offy=2);
	padding-bottom: 10px;
}

#search_class_form h3 {
	font-size: 1.1em;
}

.searchpage_field_wrapper {
	margin: 10px 0px;
	vertical-align: bottom;
	line-height: 1.4em;
}

.searchpage_field_caption {
	display: inline-block;
	font-weight: bold;
}

/* makes any checkboxes or radio buttons rendered after the first, line-up */
.searchpage_field_wrapper > input[type="checkbox"]:nth-child(1n+3), .searchpage_field_wrapper > input[type="radio"]:nth-child(1n+3) {
	margin-left: 134px;
}

.searchpage_field_wrapper input[type="text"] {
	border: 1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	background-color: #fff;
	width: 220px;
	color: #000;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.1em;
}

.searchpage_field_wrapper input[type="text"].digit_input  {
	width: 40px;
}


.searchpage_field_wrapper input[type='text']:focus, .searchpage_field_wrapper select:focus {
	outline: none; /*webkit fix*/
	background-color: #fafafa;
	border: 1px solid #999;
	webkit-box-shadow: 1px 1px 1px 2px #eeeeee;
	box-shadow: 1px 1px 1px 2px #eeeeee;
}

.searchpage_field_wrapper select {
	font-size: 1.1em;
	line-height: 1.1em;
	border: 1px solid #bbb;
	padding: 2px;
	background-color: #f6f6f6;
}

.searchpage_field_wrapper select:not([multiple]) {
	min-width: 140px;
	height: 27px;
	font-weight: 500;
}
.searchpage_field_wrapper select[multiple] {
	min-width: 240px;
}

.searchpage_field_wrapper options {


}

#search_form_div UL {
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}

#search_form_div LI {
	text-align: left;
	color: #fff;
	list-style-type: none;
}

/*** SEARCH PAGE TABS ***/

.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;
	background: none;
	margin: 0;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #666;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	display: inline-block;
	position: relative;
	top: 4px;
	margin: 0 3px 0 0;
	padding: 0;
	white-space: nowrap;
	border: 1px solid #666;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 1%, #9e9b91 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfff4), color-stop(100%,#9e9b91)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 1%,#9e9b91 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 1%,#9e9b91 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 1%,#9e9b91 100%); /* IE10+ */
	background: linear-gradient(top, #fcfff4 1%,#9e9b91 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#9e9b91',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ui-tabs .ui-tabs-nav li:hover {
	color:#333;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 1%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfff4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 1%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 1%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 1%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top, #fcfff4 1%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	font-size:1.1em;
	font-weight: 500;
	color: 	#3333FF;
	text-shadow: 1px 1px 1px #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 0px;
	background-image: none;
	background-color:#eeeeee;
	border-bottom: 1px solid #eeeeee;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
	color: #000;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	padding: 1em 1.4em;
	border: 1px solid #666;
	border-width: 0px 1px 1px 1px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px 1px #cccccc;

}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}



.search_panes h4 {
	margin: 0px;
	padding: 10px 0px;
}
.search_panes p {
	margin: 0px;
	padding: 10px 5px;
	white-space:normal;
	}

/* tab pane */
.search_panes > div {
	display: none;
	padding:4px 6px;
	background: #FAFAFA;
}

div.templated_search_form form {
	float:none;
}
.templated_search_form_data {
	margin-left:40px;
}

.templated_search_form_data label {
	width: 130px;
	margin-right: 10px;
}

.templated_search_form_data a {
	font-weight: 400;
	font-size: 1.1em;
}


/*** View Users Page ***/

.view_users {
	margin: 5px 0px;
	padding: 0;
}

.view_users_block {
	position: relative;
	background: #c4c3bd; /* Old browsers */
	background: -moz-linear-gradient(top, #c4c3bd 0%, #ecf2e3 43%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c3bd), color-stop(43%,#ecf2e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c3bd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 1px 1px #ececec;
	-moz-box-shadow: 1px 1px 1px 1px #ececec;
	box-shadow: 1px 1px 1px 1px #ececec;
}
.view_users_thumbs img {
	border: 1px solid #aaa;
	-webkit-box-shadow: 1px 1px 4px 1px #999999;
	box-shadow: 1px 1px 4px 1px #999999;
	margin: 10px 0 0 10px;
}

.view_users_fields {
	margin-left: 10px;
}
.view_users_fields a{
	text-shadow: 1px 2px 1px #BBB;
	filter: dropshadow(color=#bbbbbb, offx=1, offy=2);
}
.view_users_qr_code {
	width: 100px;
	float: right;
	border: 1px solid #aaa;
	margin: 20px 10px 0px 0px;
	-webkit-box-shadow: 1px 1px 1px 2px #dddddd;
	-moz-box-shadow: 1px 1px 1px 2px #dddddd;
	box-shadow: 1px 1px 1px 2px #dddddd;
}

.view_users_fields .user_contact_link a, .view_users_fields .user_contact_link a:visited {
	font-size: .8em;
	padding-top: 5px;
}


/*** View User Page ***/
.view_user_left {
	float: left;
	width: 126px;
}
.view_user_info {
	float: none;
	width: auto;
	min-height: 271px;
	margin: 0 0 0 140px;
	padding: 5px;
	position: relative;
	background: #c4c3bd; /* Old browsers */
	background: -moz-linear-gradient(top, #c4c3bd 0%, #ecf2e3 43%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c3bd), color-stop(43%,#ecf2e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c3bd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 1px 1px #ececec;
	-moz-box-shadow: 1px 1px 1px 1px #ececec;
	box-shadow: 1px 1px 1px 1px #ececec;
}

.view_user_name {
	float: none;
	font-size: 1.3em;
	text-shadow: 1px 2px 1px #bbbbbb;
	filter: dropshadow(color=#bbbbbb, offx=1, offy=2);
	padding-bottom: 10px;
}

.view_user_images {
	background: #c4c3bd; /* Old browsers */
	background: -moz-linear-gradient(top, #c4c3bd 0%, #ecf2e3 43%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c3bd), color-stop(43%,#ecf2e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #c4c3bd 0%,#ecf2e3 43%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c3bd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 4px 1px #999999;
	box-shadow: 1px 1px 4px 1px #999999;
}
.view_user_images img {
	border: 1px solid #aaa;
	margin: 10%;
	-webkit-box-shadow: 1px 1px 4px 1px #999999;
	box-shadow: 1px 1px 4px 1px #999999;
}

.user_qr_code {
	width: 100px;
}

.user_images_caption {
	margin-left: 10%;
	font-size: .8em;
	font-weight: 600;
}

.user_contact_link {
	position: absolute;
	bottom: 10px;
}

.user_contact_link a, .user_contact_link a:visited {
	font-size: 1em;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 2px;
	padding: 4px 8px;
	cursor: pointer;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	background: -moz-linear-gradient( top,
	rgba(255, 255, 255, 1),
	rgba(215, 215, 215, 1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0,
	rgba(255, 255, 255, 1) ), color-stop( 1,
	rgba(215, 215, 215, 1) ) );
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
}

.view_user_info .user_contact_link a, .view_user_info .user_contact_link a:visited {
	bottom: 4px;
}
.user_contact_link a:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #999;
	text-shadow: 1px 2px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=2);
}

.user_listings_link a,.user_listings_link a:visited {
	float:right;
	font-size: .7em;
	font-weight: 500;
}

.user_listings_link a:hover {
	text-shadow: 1px 1px 1px #666;
	filter: dropshadow(color=#666, offx=1, offy=1);
}
.view_user_listings {
	padding: 0;
	margin: 0;
	width: 100%;
	-webkit-box-shadow: 1px 1px 1px 1px #ececec;
	-moz-box-shadow: 1px 1px 1px 1px #ececec;
	box-shadow: 1px 1px 1px 1px #ececec;
}

.my_horiz_feat {
	margin-left: 0px;
	margin-top: 5px;
}
.view_user_hitcount {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9e9b91;
	padding-top: 4px;
	margin: 10px 0 0 0;
}

/*** HTML5 DISCLAIMER ***/
#disclaimerbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-transform: none;
	letter-spacing: normal;
	line-height: 1;
}

#disclaimerbar {
	direction: ltr;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #7f7f7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%,#7f7f7f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%,#7f7f7f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #666666 0%,#7f7f7f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
	height: 54px;
	border-top-style: solid;
	border-width: 1px;
	border-color: #888;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	min-width: 960px;
}

#disclaimerbar p {
	font-size: .9em;
	line-spacing: 1.2em;
	font-weight: 4500;
	text-align: left;
	padding: 5px 10px;
	color: #fff;

}
#disclaimerbar span {
	font-size: .8em;
	font-weight: 400;
	line-spacing: 1.2em;
	padding-left: 40px;
	color: #eee;
	text-align: right;
}



/*** Form element styling ***/
/* Global Declaration */

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background-image: url('{template_url}/images/form_sprite.png');
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

input.text,
input.email,
input.password,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
}

/* SPRITES */

/* Checkbox */

div.checker {
  width: 18px;
  height: 18px;
}

div.checker input {
  width: 18px;
  height: 18px;
}

div.checker span {
  background-position: 0px -260px;
  height: 18px;
  width: 18px;
}

div.checker:active span, div.checker.active span {
  background-position: -18px -260px;
}

div.checker.focus span, div.checker:hover span {
  background-position: -38px -260px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}

div.checker span.checked {
  background-position: -76px -260px;
}

div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -95px -260px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -260px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Radio */

div.radio {
  width: 18px;
  height: 18px;
  font-size: 1.2em;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}

div.radio:active span,
div.radio.active span {
  background-position: -18px -279px;
}

div.radio.focus span,
div.radio:hover span {
  background-position: -36px -279px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}

div.radio span.checked {
  background-position: -72px -279px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}

div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}

/* Uploader */

div.uploader {
  background-position: 0px -297px;
  height: 28px;
}

div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}

div.uploader.disabled {
  background-position: 0px -325px;
}

div.uploader.disabled span.action {
  background-position: right -381px;
}

/* PRESENTATION */

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Radio */
div.radio {
  margin-right: 3px;
}

div.radio:nth-child(1n+3), div.checker:nth-child(1n+3) {
  margin-left: 140px;
}


/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}

div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: bottom;
  zoom: 1;
  *display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: default;
}