<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <ul class="nav nav-pills nav-fill p-1 my-3" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 active"
          data-bs-toggle="tab"
          data-bs-target="#main"
          id="main_tab"
          role="tab"
          aria-controls="main"
          aria-selected="true"
        >
          {lang_emenu_main}
        </a>
      </li>
      {check_edit_site_config}
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          data-bs-target="#configure"
          id="configure_tab"
          role="tab"
          aria-controls="configure"
          aria-selected="false"
        >
          {lang_dialog_configure}
        </a>
      </li>
      {/check_edit_site_config} {!check_edit_site_config}{check_is_blog_editor}
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          data-bs-target="#configure"
          id="configure_tab"
          role="tab"
          aria-controls="configure"
          aria-selected="false"
        >
          {lang_dialog_configure}
        </a>
      </li>
      {/check_is_blog_editor}{/!check_edit_site_config}
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          data-bs-target="#wordpress_inject"
          id="wordpress_inject_tab"
          role="tab"
          aria-controls="wordpress_inject"
          aria-selected="false"
        >
          {lang_blog_wp_inject}
        </a>
      </li>
    </ul>

    <div class="tab-content" id="blog_config_general">
      <!-- the tabs -->

      <!-- begin first tab contents -->

      <div
        id="main"
        class="tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="main_tab"
      >
        <div class="row justify-content-between">
          <div class="col-auto">
            <a
              href="{baseurl}/admin/index.php?action=edit_blog"
              title="{lang_blog_view_all}"
              >{lang_blog_view_all}</a
            >
            <span class="blog_edit_index_status_list_count"
              >({blog_edit_status_all_count})</span
            >
            |
            <a
              href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Published"
              title="{lang_blog_view_live}"
              >{lang_blog_published}</a
            >
            <span class="blog_edit_index_status_list_count"
              >({blog_edit_status_published_count})</span
            >
            |
            <a
              href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Draft"
              title="{lang_blog_view_draft}"
              >{lang_blog_draft}</a
            >
            <span class="blog_edit_index_status_list_count"
              >({blog_edit_status_draft_count})</span
            >
            |
            <a
              href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Review"
              title="{lang_blog_view_review}"
              >{lang_blog_review}</a
            >
            <span class="blog_edit_index_status_list_count"
              >({blog_edit_status_review_count})</span
            >
          </div>
          <div class="col-auto">
            <form
              id="add_blog_form"
              class="add_blog_form"
              action="#"
              method="post"
            >
              <input type="hidden" name="token" value="{csrf_token}" />
              <span id="response_text"></span>
              <input
                id="post_title"
                type="text"
                name="title"
                value=""
                required
              />
              <button class="btn btn-primary btn-sm" id="new_post">
                <i class="fa-solid fa-plus"></i> {lang_blog_add_post}
              </button>
            </form>
          </div>
          <div class="col-auto">{next_prev}</div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_post}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_author}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_keywords}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_comments}
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_date}
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_publication_status}
                </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_post}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_author}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_keywords}
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_comments}
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_date}
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  {lang_blog_publication_status}
                </th>
              </tr>
            </tfoot>
            <tbody>
              {blog_edit_item_block}
              <tr>
                <td>
                  {blog_edit_item_id}
                  <a
                    class="blog_index_post_link"
                    href="{baseurl}/admin/index.php?action=edit_blog_post&amp;id={blog_edit_item_id}"
                    title="{lang_edit} {blog_edit_item_title}"
                    ><i class="fa-solid fa-edit"></i> {blog_edit_item_title}</a
                  >
                </td>
                <td>{blog_edit_item_author}</td>
                <td>{blog_edit_item_keywords}</td>
                <td>
                  <span class="blog_comment_link"
                    ><a
                      href="{baseurl}/admin/index.php?action=edit_blog_post_comments&amp;id={blog_edit_item_id}"
                      title="{lang_blog_moderate_comments}"
                      ><i class="fa-solid fa-edit"></i>
                      {blog_edit_item_commentcount}</a
                    ></span
                  >
                </td>
                <td class="align-middle text-center">{blog_edit_item_date}</td>
                <td
                  class="align-middle text-center blog_publish_status_{blog_edit_item_published}"
                >
                  {blog_edit_item_published}
                </td>
              </tr>
              {/blog_edit_item_block}
            </tbody>
          </table>
        </div>
      </div>
      <!-- end first tab contents -->

      <!-- begin second tab contents -->
      <div
        id="configure"
        class="tab-pane fade show"
        role="tabpanel"
        aria-labelledby="configure_tab"
      >
        <ul class="nav nav-pills nav-fill p-1 mb-2" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 active"
              data-bs-toggle="tabajax"
              data-bs-target="#blog_settings_general"
              id="blog_settings_general_tab"
              href="{baseurl}/admin/ajax.php?action=blog_settings_general"
              role="tab"
              aria-controls="blog_settings_general"
              aria-selected="true"
            >
              {lang_blog_settings_general}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1"
              data-bs-toggle="tabajax"
              data-bs-target="#blog_settings_categories"
              id="blog_settings_categories_tab"
              href="{baseurl}/admin/ajax.php?action=blog_settings_categories"
              role="tab"
              aria-controls="blog_settings_categories"
              aria-selected="false"
            >
              {lang_blog_settings_categories}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1"
              data-bs-toggle="tabajax"
              data-bs-target="#blog_settings_tags"
              id="blog_settings_tags_tab"
              href="{baseurl}/admin/ajax.php?action=blog_settings_tags"
              role="tab"
              aria-controls="blog_settings_tags"
              aria-selected="false"
            >
              {lang_blog_settings_tags}
            </a>
          </li>
        </ul>
        <div class="tab-content" id="mediaUploadTabContent">
          <div
            class="tab-pane fade show active"
            id="blog_settings_general"
            role="tabpanel"
            aria-labelledby="blog_settings_general_tab"
          ></div>
          <div
            class="tab-pane fade"
            id="blog_settings_categories"
            role="tabpanel"
            aria-labelledby="blog_settings_categories_tab"
          ></div>
          <div
            class="tab-pane fade"
            id="blog_settings_tags"
            role="tabpanel"
            aria-labelledby="blog_settings_tags_tab"
          ></div>
        </div>
      </div>

      <!-- end second tab contents -->

      <!-- begin third tab contents -->
      <div
        id="wordpress_inject"
        class="tab-pane fade show"
        role="tabpanel"
        aria-labelledby="wordpress_inject_tab"
      >
        <form
          enctype="multipart/form-data"
          id="wpinjectform"
          action="ajax.php?action=blog_wpinject"
          method="POST"
        >
          <input type="hidden" name="token" value="{csrf_token}" />

          <div class="input-group input-group-static mb-2">
            <label for="uploadedfile">{lang_blog_wp_inject_text}</label>
            <input
              type="file"
              required
              name="uploadedfile"
              id="uploadedfile"
              class="form-control"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            value="{lang_upload_file}"
          />
        </form>
        <div id="wpinjectresults"></div>
      </div>
    </div>
    <!-- end css-panes -->
  </div>
</div>
<link
  rel="stylesheet"
  href="{baseurl}/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
/>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function () {
    //Enable ajax based tags
    $('[data-bs-toggle="tabajax"]').click(function (e) {
      e.preventDefault();
      var $this = $(this),
        loadurl = $this.attr("href"),
        targ = $this.attr("data-bs-target");
      if ($(targ).html() == "") {
        $.get(loadurl, function (data) {
          $(targ).html(data);
        });
      }
      $this.tab("show");
    });

    $("#configure_tab").click(function () {
      $("#blog_settings_general_tab").click();
    });

    $("#add_blog_form").submit(function (e) {
      e.preventDefault();

      $.post(
        "ajax.php?action=ajax_create_blog_post",
        $("#add_blog_form").serialize(),
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          } else {
            document.location.href =
              "index.php?action=edit_blog_post&id=" + data.id;
          }
        },
        "json"
      );
    });

    $("#wpinjectform").submit(function (e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
      var form = $("#wpinjectform")[0];
      var data = new FormData(form);
      $.ajax({
        type: "POST",
        enctype: "multipart/form-data",
        url: "ajax.php?action=blog_wpinject",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
          $("#wpinjectresults").html(data);
        },
        error: function (e) {
          $("#wpinjectresults").html(data);
        },
      });
    });
  });
</script>
