<div class="card card-frame mb-4">
	<div class="card-body py-2">
		<h6>Simple preview of Lead Form:</h6>
		<div
           class="row justify-content-center my-2"
           style="min-height:50px;"
          >
            <div
             id="headline"
             class="col-auto"
            >
              {headline}
            </div>
          </div>
          <div class="row">
            <div
             id="top_left"
             class="col-6  my-2"
            >
             
              {top_left}
            </div>
            <div
             id="top_right"
             class="col-6  my-2"
            >

              {top_right}
            </div>
          </div>
          <div
           class="row justify-content-center my-2 "
           style="min-height:50px;"
          >
            <div
             id="center"
             class="col-auto"
            >

              {center}
            </div>
          </div>
          <div class="row">
            <div
             id="feature1"
             class="col-6  my-2"
            >

              {feature1}
            </div>
            <div
             id="feature2"
             class="col-6  my-2"
            >

              {feature2}
            </div>
          </div>
          <div class="row">
            <div
             id="bottom_left"
             class="col-6  my-2"
            >

              {bottom_left}
            </div>
            <div
             id="bottom_right"
             class="col-6  my-2"
            >

              {bottom_right}
            </div>
          </div>
          <div
           class="row justify-content-center my-2 "
           style="min-height:50px;"
          >
            <div
             id="unassigned"
             class="col-auto"
            >

              {misc_hold}
            </div>
          </div>

	</div>
</div>