<div class="card card-frame mb-4">
	<div class="card-body py-2">

		<div class="card card-frame mb-4">
			<div class="card-body py-2">
				<form
				 method="post"
				 action=""
				 class="row align-items-end mb-2 g-3"
				>
					<div class="col input-group input-group-static">
						<label
						 for="edit_field_list"
						 class="ms-0"
						>{lang_field}</label>

						<input
						 type="hidden"
						 name="action"
						 value="edit_form_template"
						/>
						<select
						 id="edit_field_list"
						 class="form-control"
						 name="edit_field"
						 aria-label="{lang_select_field_to_edit}"
						>
							<option
							 value=""
							 selected="selected"
							>
								{lang_select_field_to_edit}
							</option>
							{lead_template_editor_field_edit_block}
							<option
							 value="{value}"
							 {selected}
							>{text}</option>
							{/lead_template_editor_field_edit_block}
						</select>
					</div>
					<button
					 id="add_field_link"
					 type="submit"
					 class="col-auto btn btn-primary"
					>
						{lang_add_field}
					</button>
				</form>
			</div>
		</div>

		<div class="nav-wrapper position-relative end-0">
			<ul
			 class="nav nav-pills nav-fill p-1"
			 id="nav-tab"
			 role="tablist"
			>

				<li class="nav-item"><a
					 class="nav-link mb-0 px-0 py-1 active"
					 id="nav-qed-tab"
					 data-bs-toggle="tabajax"
					 data-bs-target="#nav-qed"
					 href="{baseurl}/admin/ajax.php?action=edit_form_qed"
					 role="tab"
					 aria-controls="nav-qed"
					 aria-selected="true"
					>{lang_quick_editor}</a>
				</li>
				<li class="nav-item">
					<a
					 class="nav-link mb-0 px-0 py-1"
					 id="nav-preview-tab"
					 data-bs-toggle="tabajax"
					 data-bs-target="#nav-preview"
					 href="{baseurl}/admin/ajax.php?action=edit_form_preview"
					 role="tab"
					 aria-controls="nav-preview"
					 aria-selected="false"
					>{lang_form_preview}</a>

				</li>
			</ul>
		</div>
		<div
		 class="tab-content"
		 id="nav-tabContent"
		>
			<div
			 class="tab-pane fade show active"
			 id="nav-qed"
			 role="tabpanel"
			 aria-labelledby="nav-qed-tab"
			></div>
			<div
			 class="tab-pane fade"
			 id="nav-preview"
			 role="tabpanel"
			 aria-labelledby="nav-preview-tab"
			></div>
		</div>




	</div>

</div>

<script type="text/javascript">
	$(document).ready(function () {

		//Enable ajax based tags
		$('[data-bs-toggle="tabajax"]').click(function (e) {
			e.preventDefault();
			var $this = $(this),
				loadurl = $this.attr("href"),
				targ = $this.attr("data-bs-target");
			if ($(targ).html() == "") {
				$.get(loadurl, function (data) {
					$(targ).html(data);
				});
			}
			$this.tab("show");
		})
		$("#nav-qed-tab").click();

		$("#add_field_link").click(function (e) {
			e.preventDefault();
			$.ajax({
				url: "ajax.php?action=ajax_add_form_field",
				dataType: "html",
				success: function (data) {
					raiseModal("{lang_add_field}", data);
				},
			});


		});
	});
</script>