<nav class="row justify-content-center" aria-label="Pagination">
  <ul class="col pagination pagination-sm mt-auto">
    <li
      class="page-item {nextprev_is_firstpage_block}disabled{/nextprev_is_firstpage_block}"
    >
      <a
        class="page-link {nextprev_is_firstpage_block}bg-gray-500{/nextprev_is_firstpage_block}"
        href="javascript:;"
        aria-label="Previous"
      >
        <i class="fa-solid fa-angle-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {nextprev_page_section} {nextprev_page_current_block}
    <li class="page-item active">
      <a
        href="index.php?cur_page={nextprev_count}{nextprev_guidestring}"
        class="page-link"
        >{nextprev_disp_count}</a
      >
    </li>
    {/nextprev_page_current_block} {nextprev_page_other_block}
    <li class="page-item">
      <a
        href="index.php?cur_page={nextprev_count}{nextprev_guidestring}"
        class="page-link"
        >{nextprev_disp_count}</a
      >
    </li>
    {/nextprev_page_other_block} {/nextprev_page_section}

    <li
      class="page-item {nextprev_lastpage_block}disabled{/nextprev_lastpage_block}"
    >
      <a
        class="page-link {nextprev_lastpage_block}bg-gray-500{/nextprev_lastpage_block}"
        href="javascript:;"
        aria-label="Next"
      >
        <i class="fa-solid fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
