<nav class="row justify-content-center" aria-label="Pagination">
  <span class="col-12 col-md navbar-text">
    {nextprev_num_of_rows_is_1_block}
    <span class="browse_tool"
      >{lang_there_is_currently}<strong>{nextprev_num_rows}&nbsp;</strong></span
    >{nextprev_page_type}. {/nextprev_num_of_rows_is_1_block}
    {!nextprev_num_of_rows_is_1_block}
    <span class="browse_tool_num"
      ><strong>{nextprev_num_rows}&nbsp;</strong></span
    >{nextprev_meet_your_search} {/!nextprev_num_of_rows_is_1_block}
    <br />
    <span class="langviewing">{lang_viewing}</span>
    <span class="browse_tool_num"
      ><strong
        >{nextprev_listing_num_min} - {nextprev_listing_num_max}</strong
      ></span
    >
  </span>

  <ul class="col-12 d-flex d-md-none justify-content-center pagination pagination-sm mt-auto">
    <li
      class="
        page-item
        {!nextprev_prev_100_button_block}disabled{/!nextprev_prev_100_button_block}
      "
    >
      <a
        class="
          page-link
          {!nextprev_prev_100_button_block}bg-gray-500{/!nextprev_prev_100_button_block}
        "
        href="index.php?cur_page={nextprev_prev10page}{nextprev_guidestring}"
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-double-left"></i> 
        <span class="sr-only">lang_previous_100</span>
      </a>
    </li>

    <li
      class="
        page-item
        {nextprev_is_firstpage_block}disabled{/nextprev_is_firstpage_block}
      "
    >
      <a
        class="
          page-link
          {nextprev_is_firstpage_block}bg-gray-500{/nextprev_is_firstpage_block}
        "
        {nextprev_is_firstpage_block}
        href="javascript:;"
        {/nextprev_is_firstpage_block}
        {!nextprev_is_firstpage_block}
        href="index.php?cur_page={nextprev_prevpage}{nextprev_guidestring}"
        {/!nextprev_is_firstpage_block}
        aria-label="Previous"
      >
        <i class="fa-solid fa-angle-left"></i> 
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li
      class="
        page-item
        {nextprev_lastpage_block}disabled{/nextprev_lastpage_block}
      "
    >
      <a
        class="
          page-link
          {nextprev_lastpage_block}bg-gray-500{/nextprev_lastpage_block}
        "
        {nextprev_lastpage_block}
        href="javascript:;"
        {/nextprev_lastpage_block}
        {!nextprev_lastpage_block}
        href="index.php?cur_page={nextprev_nextpage}{nextprev_guidestring}"
        {/!nextprev_lastpage_block}
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <li
      class="
        page-item
        {!nextprev_next_100_button_block}disabled{/!nextprev_next_100_button_block}
      "
    >
      <a
        class="
          page-link
          {!nextprev_next_100_button_block}bg-gray-500{/!nextprev_next_100_button_block}
        "
        href="index.php?cur_page={nextprev_next10page}{nextprev_guidestring}"
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-double-right"></i>
        <span class="sr-only">lang_next_100</span>
      </a>
    </li>
  </ul>
  <ul class="col-12 col-md pagination pagination-sm mt-auto justify-content-center justify-conent-md-start">
    <li
      class="
        page-item d-none d-sm-flex
        {!nextprev_prev_100_button_block}disabled{/!nextprev_prev_100_button_block}
      "
    >
      <a
        class="
          page-link
          {!nextprev_prev_100_button_block}bg-gray-500{/!nextprev_prev_100_button_block}
        "
        href="index.php?cur_page={nextprev_prev10page}{nextprev_guidestring}"
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-double-left"></i> 
        <span class="sr-only">lang_previous_100</span>
      </a>
    </li>

    <li
      class="
        page-item d-none d-sm-flex
        {nextprev_is_firstpage_block}disabled{/nextprev_is_firstpage_block}
      "
    >
      <a
        class="
          page-link
          {nextprev_is_firstpage_block}bg-gray-500{/nextprev_is_firstpage_block}
        "
        {nextprev_is_firstpage_block}
        href="javascript:;"
        {/nextprev_is_firstpage_block}
        {!nextprev_is_firstpage_block}
        href="index.php?cur_page={nextprev_prevpage}{nextprev_guidestring}"
        {/!nextprev_is_firstpage_block}
        aria-label="Previous"
      >
      <i class="fa-solid fa-angle-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {nextprev_page_section} {nextprev_page_current_block}
    <li class="page-item active">
      <a
        href="index.php?cur_page={nextprev_count}{nextprev_guidestring}"
        class="page-link"
        >{nextprev_disp_count}</a
      >
    </li>
    {/nextprev_page_current_block} {nextprev_page_other_block}
    <li class="page-item">
      <a
        href="index.php?cur_page={nextprev_count}{nextprev_guidestring}"
        class="page-link"
        >{nextprev_disp_count}</a
      >
    </li>
    {/nextprev_page_other_block} {/nextprev_page_section}

    <li
      class="
        page-item d-none d-sm-flex
        {nextprev_lastpage_block}disabled{/nextprev_lastpage_block}
      "
    >
      <a
        class="
          page-link
          {nextprev_lastpage_block}bg-gray-500{/nextprev_lastpage_block}
        "
        {nextprev_lastpage_block}
        href="javascript:;"
        {/nextprev_lastpage_block}
        {!nextprev_lastpage_block}
        href="index.php?cur_page={nextprev_nextpage}{nextprev_guidestring}"
        {/!nextprev_lastpage_block}
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <li
      class="
        page-item d-none d-sm-flex
        {!nextprev_next_100_button_block}disabled{/!nextprev_next_100_button_block}
      "
    >
      <a
        class="
          page-link
          {!nextprev_next_100_button_block}bg-gray-500{/!nextprev_next_100_button_block}
        "
        href="index.php?cur_page={nextprev_next10page}{nextprev_guidestring}"
        aria-label="Next"
      >
      <i class="fa-solid fa-angle-double-right"></i>
        <span class="sr-only">lang_next_100</span>
      </a>
    </li>
  </ul>
</nav>
