<form id="site_config_templates" method="post" action="">
    <input type="hidden" name="token" value="{csrf_token}"/>
    <h3 class="mt-4">{lang_site_config_heading_template_settings}</h3>
    <hr/>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_frontend" class="ms-0">{lang_template}</label>
                <select
                        name="controlpanel_template_frontend"
                        class="form-control"
                        id="controlpanel_template_frontend"
                >
                    {template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_mobile" class="ms-0"
                >{lang_mobile_template}</label
                >
                <select
                        name="controlpanel_template_mobile"
                        class="form-control"
                        id="controlpanel_template_mobile"
                >
                    {mobile_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/mobile_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_mobile_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_admin_frontend" class="ms-0"
                >{lang_admin_template}</label
                >
                <select
                        name="controlpanel_template_admin_frontend"
                        class="form-control"
                        id="controlpanel_template_admin_frontend"
                >
                    {admin_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/admin_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_admin_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_listing" class="ms-0"
                >{lang_listing_template}</label
                >
                <select
                        name="controlpanel_template_listing"
                        class="form-control"
                        id="controlpanel_template_listing"
                >
                    {listing_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/listing_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_listing_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static mb-2">
                <label for="controlpanel_template_listing_sections"
                >{lang_template_listing_sections}</label
                >
                <input
                        type="text"
                        name="controlpanel_template_listing_sections"
                        id="controlpanel_template_listing_sections"
                        value="{controlpanel_template_listing_sections}"
                        class="form-control"
                />
            </div>
        </div>
        <div class="col text-sm">{lang_template_listing_sections_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static mb-2">
                <label for="controlpanel_template_lead_sections"
                >{lang_template_lead_sections}</label
                >
                <input
                        type="text"
                        name="controlpanel_template_lead_sections"
                        id="controlpanel_template_lead_sections"
                        value="{controlpanel_template_lead_sections}"
                        class="form-control"
                />
            </div>
        </div>
        <div class="col text-sm">{lang_template_lead_sections_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_search_result" class="ms-0"
                >{lang_search_result_template}</label
                >
                <select
                        name="controlpanel_template_search_result"
                        class="form-control"
                        id="controlpanel_template_search_result"
                >
                    {search_result_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/search_result_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_search_result_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_agent" class="ms-0"
                >{lang_view_agent_template}</label
                >
                <select
                        name="controlpanel_template_agent"
                        class="form-control"
                        id="controlpanel_template_agent"
                >
                    {agent_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/agent_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_view_agent_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_vtour" class="ms-0"
                >{lang_vtour_template}</label
                >
                <select
                        name="controlpanel_template_vtour"
                        class="form-control"
                        id="controlpanel_template_vtour"
                >
                    {vtour_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/vtour_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_vtour_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_notify_listings" class="ms-0"
                >{lang_notify_template}</label
                >
                <select
                        name="controlpanel_template_notify_listings"
                        class="form-control"
                        id="controlpanel_template_notify_listings"
                >
                    {notify_listings_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/notify_listings_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_notify_template_desc}</div>
    </div>
    <div class="row align-items-end mb-2">
        <div class="col-12 col-md-4">
            <div class="input-group input-group-static">
                <label for="controlpanel_template_contact" class="ms-0"
                >{lang_contact_template}</label
                >
                <select
                        name="controlpanel_template_contact"
                        class="form-control"
                        id="controlpanel_template_contact"
                >
                    {contact_template_block}
                    <option value="{value}" {selected}>{text}</option>
                    {/contact_template_block}
                </select>
            </div>
        </div>
        <div class="col text-sm">{lang_contact_template_desc}</div>
    </div>

    <input
            type="submit"
            class="btn btn-primary float-end"
            value="{lang_save_changes}"
    />
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#site_config_templates").submit(function (e) {
            e.preventDefault();
            $.post(
                "ajax.php?action=update_site_config",
                $("#site_config_templates").serialize(),
                function (data) {
                    if (data.error == "1") {
                        status_error(data.error_msg);
                    } else {
                        status_msg(data.status);
                    }
                },
                "json"
            );
        });
    });
</script>
