<div class="browse_tool_table">
	<div class="jump_to_page clear">
		{nextprev_is_firstpage_block}
			<span class="bt_pages_ghost">&nbsp;&nbsp;&lt;&lt;&nbsp;&nbsp;</span>
		{/nextprev_is_firstpage_block}
		
		{!nextprev_is_firstpage_block}
			<span class="bt_pages">
				<a href="index.php?cur_page={nextprev_prevpage}{nextprev_guidestring}" class="bt_pages left">&lt;&lt;&nbsp;&nbsp;</a>
			</span>
		{/!nextprev_is_firstpage_block}
		 
		<!-- begin 10 page menu selection -->
		{nextprev_page_section} 
			{nextprev_page_current_block}
				<span class="browse_tool_curpage">{nextprev_disp_count}</span>
			{/nextprev_page_current_block}
		
			{nextprev_page_other_block}
				<span class="bt_pages">
					<a href="index.php?cur_page={nextprev_count}{nextprev_guidestring}" class="bt_pages">{nextprev_disp_count}</a>
				</span>
			{/nextprev_page_other_block}
		{/nextprev_page_section} 
		
		{nextprev_lastpage_block}
			<span class="bt_pages_ghost">&nbsp;&gt;&gt;&nbsp;&nbsp;</span>
		{/nextprev_lastpage_block}
		
		{!nextprev_lastpage_block}
			<span class="bt_pages">
				<a href="index.php?cur_page={nextprev_nextpage}{nextprev_guidestring}" class="bt_pages">&nbsp;&gt;&gt;&nbsp;&nbsp;</a>
			</span>
		{/!nextprev_lastpage_block}
	</div>
</div>
<div style="clear"></div>


